[Unit]
Description=Firejail DoH Proxy Server
Documentation=man:fdns(1)
Wants=network-online.target nss-lookup.target
Before=nscd.service nss-lookup.target ntpdate.service

[Service]
# start fdns as a local server listening on 127.1.1.1 loopback address
ExecStart=/usr/bin/fdns --daemonize
# start fdns as a network server listening on all interfaces and on 127.0.0.1 loopback address
#ExecStart=/usr/bin/fdns --daemonize --proxy-addr-any
# start fdns as a network server listening on a specific network interface address
#ExecStart=/usr/bin/fdns --daemonize --proxy-addr=192.168.1.200
Restart=on-failure

[Install]
WantedBy=multi-user.target
