TESTING:compressed question
Error: LAN DNS - invalid domain
cnt 1, (nil)
Error: LAN DNS - invalid domain
cnt 2, (nil)
Error: LAN DNS - invalid domain
cnt 3, (nil)
Error: LAN DNS - invalid domain
cnt 4, (nil)
Error: LAN DNS - invalid domain
cnt 5, (nil)
Error: LAN DNS - invalid domain
cnt 6, (nil)
Error: LAN DNS - invalid domain
cnt 7, (nil)
Error: LAN DNS - invalid domain
cnt 8, (nil)
Error: LAN DNS - invalid domain
cnt 9, (nil)
Error: LAN DNS - invalid domain
cnt 10, (nil)
Error: LAN DNS - invalid domain
cnt 11, (nil)
