TESTING: packet length test
Error: LAN DNS: invalid header
cnt 1, (nil)
Error: LAN DNS: invalid header
cnt 2, (nil)
Error: LAN DNS: invalid header
cnt 3, (nil)
Error: LAN DNS: invalid header
cnt 4, (nil)
Error: LAN DNS: invalid header
cnt 5, (nil)
Error: LAN DNS: invalid header
cnt 6, (nil)
Error: LAN DNS: invalid header
cnt 7, (nil)
Error: LAN DNS: invalid header
cnt 8, (nil)
Error: LAN DNS: invalid header
cnt 9, (nil)
Error: LAN DNS: invalid header
cnt 10, (nil)
Error: LAN DNS: invalid header
cnt 11, (nil)
Error: LAN DNS - invalid domain
cnt 12, (nil)
Error: LAN DNS - invalid domain
cnt 13, (nil)
Error: LAN DNS - invalid domain
cnt 14, (nil)
Error: LAN DNS - invalid domain
cnt 15, (nil)
Error: LAN DNS - invalid domain
cnt 16, (nil)
Error: LAN DNS - invalid domain
cnt 17, (nil)
Error: LAN DNS - invalid domain
cnt 18, (nil)
Error: LAN DNS - invalid domain
cnt 19, (nil)
Error: LAN DNS - invalid domain
cnt 20, (nil)
Error: LAN DNS - invalid domain
cnt 21, (nil)
Error: LAN DNS - invalid domain
cnt 22, (nil)
Error: LAN DNS - invalid domain
cnt 23, (nil)
Error: LAN DNS - invalid domain
cnt 24, (nil)
Error: LAN DNS - invalid domain
cnt 25, (nil)
Error: LAN DNS - invalid domain
cnt 26, (nil)
Error: LAN DNS - invalid domain
cnt 27, (nil)
Error: LAN DNS - invalid domain
cnt 28, (nil)
Error: LAN DNS - invalid domain
cnt 29, (nil)
Error: LAN DNS - invalid domain
cnt 30, (nil)
Error: LAN DNS - invalid domain
cnt 31, (nil)
Request: www.netbsd.org, encrypted
cnt 32, (nil)
Error: LAN DNS - invalid packet lenght
cnt 33, (nil)
