TESTING: packet rr type test
Error: LAN DNS - RR type 0 rejected
cnt 1, (nil)
Request: www.netbsd.org, encrypted
cnt 2, (nil)
Error: LAN DNS - RR type 2 rejected
cnt 3, (nil)
Error: LAN DNS - RR type 3 rejected
cnt 4, (nil)
Error: LAN DNS - RR type 4 rejected
cnt 5, (nil)
Error: LAN DNS - RR type 5 rejected
cnt 6, (nil)
Error: LAN DNS - RR type 6 rejected
cnt 7, (nil)
Error: LAN DNS - RR type 7 rejected
cnt 8, (nil)
Error: LAN DNS - RR type 8 rejected
cnt 9, (nil)
Error: LAN DNS - RR type 9 rejected
cnt 10, (nil)
Error: LAN DNS - RR type 10 rejected
cnt 11, (nil)
Error: LAN DNS - RR type 11 rejected
cnt 12, (nil)
Request: www.netbsd.org (PTR), dropped
cnt 13, (not nil)
Error: LAN DNS: this is not a query
cnt 14, (nil)
Error: LAN DNS: this is not a query
cnt 15, (nil)
Error: LAN DNS: this is not a query
cnt 16, (nil)
Error: LAN DNS: this is not a query
cnt 17, (nil)
Error: LAN DNS: this is not a query
cnt 18, (nil)
Error: LAN DNS: this is not a query
cnt 19, (nil)
Error: LAN DNS: this is not a query
cnt 20, (nil)
Error: LAN DNS: this is not a query
cnt 21, (nil)
Error: LAN DNS: this is not a query
cnt 22, (nil)
Error: LAN DNS: this is not a query
cnt 23, (nil)
Error: LAN DNS: this is not a query
cnt 24, (nil)
Error: LAN DNS: this is not a query
cnt 25, (nil)
Error: LAN DNS: this is not a query
cnt 26, (nil)
Error: LAN DNS: this is not a query
cnt 27, (nil)
Error: LAN DNS: this is not a query
cnt 28, (nil)
Error: LAN DNS: this is not a query
cnt 29, (nil)
Error: LAN DNS: this is not a query
cnt 30, (nil)
Error: LAN DNS: this is not a query
cnt 31, (nil)
Error: LAN DNS: this is not a query
cnt 32, (nil)
Error: LAN DNS: this is not a query
cnt 33, (nil)
Error: LAN DNS: this is not a query
cnt 34, (nil)
Error: LAN DNS: this is not a query
cnt 35, (nil)
Error: LAN DNS: this is not a query
cnt 36, (nil)
Error: LAN DNS: this is not a query
cnt 37, (nil)
Error: LAN DNS: this is not a query
cnt 38, (nil)
Error: LAN DNS: this is not a query
cnt 39, (nil)
Error: LAN DNS: this is not a query
cnt 40, (nil)
Error: LAN DNS: this is not a query
cnt 41, (nil)
Error: LAN DNS: this is not a query
cnt 42, (nil)
Error: LAN DNS: this is not a query
cnt 43, (nil)
Error: LAN DNS: this is not a query
cnt 44, (nil)
Error: LAN DNS: this is not a query
cnt 45, (nil)
Error: LAN DNS: this is not a query
cnt 46, (nil)
Error: LAN DNS: this is not a query
cnt 47, (nil)
Error: LAN DNS: this is not a query
cnt 48, (nil)
Error: LAN DNS: this is not a query
cnt 49, (nil)
Error: LAN DNS: this is not a query
cnt 50, (nil)
Error: LAN DNS: this is not a query
cnt 51, (nil)
Error: LAN DNS: this is not a query
cnt 52, (nil)
Error: LAN DNS: this is not a query
cnt 53, (nil)
Error: LAN DNS: this is not a query
cnt 54, (nil)
Error: LAN DNS: this is not a query
cnt 55, (nil)
Error: LAN DNS: this is not a query
cnt 56, (nil)
Error: LAN DNS: this is not a query
cnt 57, (nil)
Error: LAN DNS: this is not a query
cnt 58, (nil)
Error: LAN DNS: this is not a query
cnt 59, (nil)
Error: LAN DNS: this is not a query
cnt 60, (nil)
Error: LAN DNS: this is not a query
cnt 61, (nil)
Error: LAN DNS: this is not a query
cnt 62, (nil)
Error: LAN DNS: this is not a query
cnt 63, (nil)
Error: LAN DNS: this is not a query
cnt 64, (nil)
Error: LAN DNS: this is not a query
cnt 65, (nil)
Error: LAN DNS: this is not a query
cnt 66, (nil)
Error: LAN DNS: this is not a query
cnt 67, (nil)
Error: LAN DNS: this is not a query
cnt 68, (nil)
Error: LAN DNS: this is not a query
cnt 69, (nil)
Error: LAN DNS: this is not a query
cnt 70, (nil)
Error: LAN DNS: this is not a query
cnt 71, (nil)
Error: LAN DNS: this is not a query
cnt 72, (nil)
Error: LAN DNS: this is not a query
cnt 73, (nil)
Error: LAN DNS: this is not a query
cnt 74, (nil)
Error: LAN DNS: this is not a query
cnt 75, (nil)
Error: LAN DNS: this is not a query
cnt 76, (nil)
Error: LAN DNS: this is not a query
cnt 77, (nil)
Error: LAN DNS: this is not a query
cnt 78, (nil)
Error: LAN DNS: this is not a query
cnt 79, (nil)
Error: LAN DNS: this is not a query
cnt 80, (nil)
Error: LAN DNS: this is not a query
cnt 81, (nil)
Error: LAN DNS: this is not a query
cnt 82, (nil)
Error: LAN DNS: this is not a query
cnt 83, (nil)
Error: LAN DNS: this is not a query
cnt 84, (nil)
Error: LAN DNS: this is not a query
cnt 85, (nil)
Error: LAN DNS: this is not a query
cnt 86, (nil)
Error: LAN DNS: this is not a query
cnt 87, (nil)
Error: LAN DNS: this is not a query
cnt 88, (nil)
Error: LAN DNS: this is not a query
cnt 89, (nil)
Error: LAN DNS: this is not a query
cnt 90, (nil)
Error: LAN DNS: this is not a query
cnt 91, (nil)
Error: LAN DNS: this is not a query
cnt 92, (nil)
Error: LAN DNS: this is not a query
cnt 93, (nil)
Error: LAN DNS: this is not a query
cnt 94, (nil)
Error: LAN DNS: this is not a query
cnt 95, (nil)
Error: LAN DNS: this is not a query
cnt 96, (nil)
Error: LAN DNS: this is not a query
cnt 97, (nil)
Error: LAN DNS: this is not a query
cnt 98, (nil)
Error: LAN DNS: this is not a query
cnt 99, (nil)
Error: LAN DNS: this is not a query
cnt 100, (nil)
Error: LAN DNS: this is not a query
cnt 101, (nil)
Error: LAN DNS: this is not a query
cnt 102, (nil)
Error: LAN DNS: this is not a query
cnt 103, (nil)
Error: LAN DNS: this is not a query
cnt 104, (nil)
Error: LAN DNS: this is not a query
cnt 105, (nil)
Error: LAN DNS: this is not a query
cnt 106, (nil)
Error: LAN DNS: this is not a query
cnt 107, (nil)
Error: LAN DNS: this is not a query
cnt 108, (nil)
Error: LAN DNS: this is not a query
cnt 109, (nil)
Error: LAN DNS: this is not a query
cnt 110, (nil)
Error: LAN DNS: this is not a query
cnt 111, (nil)
Error: LAN DNS: this is not a query
cnt 112, (nil)
Error: LAN DNS: this is not a query
cnt 113, (nil)
Error: LAN DNS: this is not a query
cnt 114, (nil)
Error: LAN DNS: this is not a query
cnt 115, (nil)
Error: LAN DNS: this is not a query
cnt 116, (nil)
Error: LAN DNS: this is not a query
cnt 117, (nil)
Error: LAN DNS: this is not a query
cnt 118, (nil)
Error: LAN DNS: this is not a query
cnt 119, (nil)
Error: LAN DNS: this is not a query
cnt 120, (nil)
Error: LAN DNS: this is not a query
cnt 121, (nil)
Error: LAN DNS: this is not a query
cnt 122, (nil)
Error: LAN DNS: this is not a query
cnt 123, (nil)
Error: LAN DNS: this is not a query
cnt 124, (nil)
Error: LAN DNS: this is not a query
cnt 125, (nil)
Error: LAN DNS: this is not a query
cnt 126, (nil)
Error: LAN DNS: this is not a query
cnt 127, (nil)
Error: LAN DNS: this is not a query
cnt 128, (nil)
Error: LAN DNS: this is not a query
cnt 129, (nil)
Error: LAN DNS: this is not a query
cnt 130, (nil)
Error: LAN DNS: this is not a query
cnt 131, (nil)
Error: LAN DNS: this is not a query
cnt 132, (nil)
Error: LAN DNS: this is not a query
cnt 133, (nil)
Error: LAN DNS: this is not a query
cnt 134, (nil)
Error: LAN DNS: this is not a query
cnt 135, (nil)
Error: LAN DNS: this is not a query
cnt 136, (nil)
Error: LAN DNS: this is not a query
cnt 137, (nil)
Error: LAN DNS: this is not a query
cnt 138, (nil)
Error: LAN DNS: this is not a query
cnt 139, (nil)
Error: LAN DNS: this is not a query
cnt 140, (nil)
Error: LAN DNS: this is not a query
cnt 141, (nil)
Error: LAN DNS: this is not a query
cnt 142, (nil)
Error: LAN DNS: this is not a query
cnt 143, (nil)
Error: LAN DNS: this is not a query
cnt 144, (nil)
Error: LAN DNS: this is not a query
cnt 145, (nil)
Error: LAN DNS: this is not a query
cnt 146, (nil)
Error: LAN DNS: this is not a query
cnt 147, (nil)
Error: LAN DNS: this is not a query
cnt 148, (nil)
Error: LAN DNS: this is not a query
cnt 149, (nil)
Error: LAN DNS: this is not a query
cnt 150, (nil)
Error: LAN DNS: this is not a query
cnt 151, (nil)
Error: LAN DNS: this is not a query
cnt 152, (nil)
Error: LAN DNS: this is not a query
cnt 153, (nil)
Error: LAN DNS: this is not a query
cnt 154, (nil)
Error: LAN DNS: this is not a query
cnt 155, (nil)
Error: LAN DNS: this is not a query
cnt 156, (nil)
Error: LAN DNS: this is not a query
cnt 157, (nil)
Error: LAN DNS: this is not a query
cnt 158, (nil)
Error: LAN DNS: this is not a query
cnt 159, (nil)
Error: LAN DNS: this is not a query
cnt 160, (nil)
Error: LAN DNS: this is not a query
cnt 161, (nil)
Error: LAN DNS: this is not a query
cnt 162, (nil)
Error: LAN DNS: this is not a query
cnt 163, (nil)
Error: LAN DNS: this is not a query
cnt 164, (nil)
Error: LAN DNS: this is not a query
cnt 165, (nil)
Error: LAN DNS: this is not a query
cnt 166, (nil)
Error: LAN DNS: this is not a query
cnt 167, (nil)
Error: LAN DNS: this is not a query
cnt 168, (nil)
Error: LAN DNS: this is not a query
cnt 169, (nil)
Error: LAN DNS: this is not a query
cnt 170, (nil)
Error: LAN DNS: this is not a query
cnt 171, (nil)
Error: LAN DNS: this is not a query
cnt 172, (nil)
Error: LAN DNS: this is not a query
cnt 173, (nil)
Error: LAN DNS: this is not a query
cnt 174, (nil)
Error: LAN DNS: this is not a query
cnt 175, (nil)
Error: LAN DNS: this is not a query
cnt 176, (nil)
Error: LAN DNS: this is not a query
cnt 177, (nil)
Error: LAN DNS: this is not a query
cnt 178, (nil)
Error: LAN DNS: this is not a query
cnt 179, (nil)
Error: LAN DNS: this is not a query
cnt 180, (nil)
Error: LAN DNS: this is not a query
cnt 181, (nil)
Error: LAN DNS: this is not a query
cnt 182, (nil)
Error: LAN DNS: this is not a query
cnt 183, (nil)
Error: LAN DNS: this is not a query
cnt 184, (nil)
Error: LAN DNS: this is not a query
cnt 185, (nil)
Error: LAN DNS: this is not a query
cnt 186, (nil)
Error: LAN DNS: this is not a query
cnt 187, (nil)
Error: LAN DNS: this is not a query
cnt 188, (nil)
Error: LAN DNS: this is not a query
cnt 189, (nil)
Error: LAN DNS: this is not a query
cnt 190, (nil)
Error: LAN DNS: this is not a query
cnt 191, (nil)
Error: LAN DNS: this is not a query
cnt 192, (nil)
Error: LAN DNS: this is not a query
cnt 193, (nil)
Error: LAN DNS: this is not a query
cnt 194, (nil)
Error: LAN DNS: this is not a query
cnt 195, (nil)
Error: LAN DNS: this is not a query
cnt 196, (nil)
Error: LAN DNS: this is not a query
cnt 197, (nil)
Error: LAN DNS: this is not a query
cnt 198, (nil)
Error: LAN DNS: this is not a query
cnt 199, (nil)
Error: LAN DNS: this is not a query
cnt 200, (nil)
Error: LAN DNS: this is not a query
cnt 201, (nil)
Error: LAN DNS: this is not a query
cnt 202, (nil)
Error: LAN DNS: this is not a query
cnt 203, (nil)
Error: LAN DNS: this is not a query
cnt 204, (nil)
Error: LAN DNS: this is not a query
cnt 205, (nil)
Error: LAN DNS: this is not a query
cnt 206, (nil)
Error: LAN DNS: this is not a query
cnt 207, (nil)
Error: LAN DNS: this is not a query
cnt 208, (nil)
Error: LAN DNS: this is not a query
cnt 209, (nil)
Error: LAN DNS: this is not a query
cnt 210, (nil)
Error: LAN DNS: this is not a query
cnt 211, (nil)
Error: LAN DNS: this is not a query
cnt 212, (nil)
Error: LAN DNS: this is not a query
cnt 213, (nil)
Error: LAN DNS: this is not a query
cnt 214, (nil)
Error: LAN DNS: this is not a query
cnt 215, (nil)
Error: LAN DNS: this is not a query
cnt 216, (nil)
Error: LAN DNS: this is not a query
cnt 217, (nil)
Error: LAN DNS: this is not a query
cnt 218, (nil)
Error: LAN DNS: this is not a query
cnt 219, (nil)
Error: LAN DNS: this is not a query
cnt 220, (nil)
Error: LAN DNS: this is not a query
cnt 221, (nil)
Error: LAN DNS: this is not a query
cnt 222, (nil)
Error: LAN DNS: this is not a query
cnt 223, (nil)
Error: LAN DNS: this is not a query
cnt 224, (nil)
Error: LAN DNS: this is not a query
cnt 225, (nil)
Error: LAN DNS: this is not a query
cnt 226, (nil)
Error: LAN DNS: this is not a query
cnt 227, (nil)
Error: LAN DNS: this is not a query
cnt 228, (nil)
Error: LAN DNS: this is not a query
cnt 229, (nil)
Error: LAN DNS: this is not a query
cnt 230, (nil)
Error: LAN DNS: this is not a query
cnt 231, (nil)
Error: LAN DNS: this is not a query
cnt 232, (nil)
Error: LAN DNS: this is not a query
cnt 233, (nil)
Error: LAN DNS: this is not a query
cnt 234, (nil)
Error: LAN DNS: this is not a query
cnt 235, (nil)
Error: LAN DNS: this is not a query
cnt 236, (nil)
Error: LAN DNS: this is not a query
cnt 237, (nil)
Error: LAN DNS: this is not a query
cnt 238, (nil)
Error: LAN DNS: this is not a query
cnt 239, (nil)
Error: LAN DNS: this is not a query
cnt 240, (nil)
Error: LAN DNS: this is not a query
cnt 241, (nil)
Error: LAN DNS: this is not a query
cnt 242, (nil)
Error: LAN DNS: this is not a query
cnt 243, (nil)
Error: LAN DNS: this is not a query
cnt 244, (nil)
Error: LAN DNS: this is not a query
cnt 245, (nil)
Error: LAN DNS: this is not a query
cnt 246, (nil)
Error: LAN DNS: this is not a query
cnt 247, (nil)
Error: LAN DNS: this is not a query
cnt 248, (nil)
Error: LAN DNS: this is not a query
cnt 249, (nil)
Error: LAN DNS: this is not a query
cnt 250, (nil)
Error: LAN DNS: this is not a query
cnt 251, (nil)
Error: LAN DNS: this is not a query
cnt 252, (nil)
Error: LAN DNS: this is not a query
cnt 253, (nil)
Error: LAN DNS: this is not a query
cnt 254, (nil)
Error: LAN DNS: this is not a query
cnt 255, (nil)
Error: LAN DNS: this is not a query
cnt 256, (nil)
