TESTING: wrong question/answer section
Error: LAN DNS - invalid header
cnt 1, (nil)
Error: LAN DNS - invalid header
cnt 2, (nil)
Error: LAN DNS - invalid header
cnt 3, (nil)
Error: LAN DNS - invalid header
cnt 4, (nil)
Error: LAN DNS - invalid header
cnt 5, (nil)
Error: LAN DNS - invalid header
cnt 6, (nil)
Error: LAN DNS - invalid header
cnt 7, (nil)
